.item-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: nowrap;
}
.item {
    width: calc(9% - 20px);
    border: 1px black solid;
    background-color: rgba(0,0,0,.03);
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
    border: 1px solid rgba(0,0,0,.125);
    /* padding: 10px; */
}
.title {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-item-container {
    width: 100%;
    height: 100px;
    border-top: 1px rgba(0,0,0,.125) solid;
}
.top-block {
    width: 100%;
    height: 50%;
    display: flex;
}
.rigth {
    width: 50%;
    height: 100%;
    border-bottom: 1px rgba(0,0,0,.125) solid;
    cursor: pointer;
}
.left {
    border-right: 1px rgba(0,0,0,.125) solid;
    width: 50%;
    height: 100%;
    cursor: pointer;
}

.first {
    border-right: 1px rgba(0,0,0,.125) solid;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.second {
    border-right: 1px rgba(0,0,0,.125) solid;
    border-bottom: 1px rgba(0,0,0,.125) solid;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.third {
    border-bottom: 1px rgba(0,0,0,.125) solid;
    width: 33%;
    height: 100%;
    cursor: pointer;
}

.score {
    height: 50%;
}

.scale {
    height: 30px;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 400px;
    padding: 20px;
}

.option {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    margin-right: 10px;
    align-items: center;
    border: 1px rgba(0,0,0,.125) solid;
    border-radius: 10px;
}

.active .active-option {
    font-size: 20px;
    font-weight: bolder;
}

.disabled .option {
    opacity: 0.5;
}

.available {
    background-color: #e0e0e0;
}

.available:hover {
    background-color: yellow;
    cursor: pointer;
}

.active {
    background-color: #fffbf4 !important;
    border-width: 3px;
    transition: .2s;
}

.finalScore {
    width: calc(9% - 20px);
    border: 1px rgba(0,0,0,.125) solid;
}

.shadow {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.user-score-wrapper {
    padding: 20px;
    padding-bottom: 20px;
    border-bottom: 1px rgba(0,0,0,.125) solid;
}

.header {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
}

.header i {
    font-size: 35px;
    margin-right: 10px;
}