<div class="user-score-wrapper">
	<div class="header">
		<i class="fas fa-user"></i>
		Player 1
	</div>
	<div class="scale"
		 [class.disabled]="!attempt">
		<ng-container *ngFor="let option of steps; let i = index">
			<div class="option available"
					*ngIf="checkAvailability(i + 1)"
					(click)="setScore(i + 1, attempt)">
					{{option.number + 1}}
			</div>
		</ng-container>
		<div class="option available"
			(click)="setScore(undefined, attempt)">
			F
		</div>
	</div>
	<div class="item-list">
		<ng-container *ngFor="let step of steps; let i = index">
			<div class="item shadow" 
				 *ngIf="i < 9"
				 (click)="selectItem(i)"
				 [class.active]="i === currentTour">
				<div class="title">
					{{step.number + 1}}
				</div>
				<div class="main-item-container">
					<div class="top-block">
						<div class="left flex-center"
							 [class.active-option]="attempt === 1"
							 (click)="attempt = 1">
							 <span *ngIf="step.firstAttempt || step.firstAttempt === 0">{{step.firstAttempt}}</span>
							 <span *ngIf="step.firstAttempt === undefined">F</span>
						</div>
						<div class="rigth flex-center"
							 [class.active-option]="attempt === 2"
							 (click)="attempt = 2">
							 <span *ngIf="step.secondAttempt || step.secondAttempt === 0">{{step.secondAttempt}}</span>
							 <span *ngIf="step.secondAttempt === undefined">F</span>
						</div>
					</div>
					<div class="score flex-center">
						{{step?.finalScore}}
					</div>
				</div>
			</div>
			<div class="item shadow" 
				 *ngIf="i === 9"
				 (click)="selectItem(i)"
				 [class.active]="i === currentTour">
				<div class="title">
					10
				</div>
				<div class="main-item-container">
					<div class="top-block">
						<div class="first flex-center"
							 [class.active-option]="attempt === 1"
							 (click)="attempt = 1">
							{{step?.firstAttempt}}
						</div>
						<div class="second flex-center"
							 [class.active-option]="attempt === 2"
							 (click)="attempt = 2">
							{{step?.secondAttempt}}
						</div>
						<div class="third flex-center"
							 [class.active-option]="attempt === 3"
							 (click)="attempt = 3">
							{{step?.thirdAttempt}}
						</div>
					</div>
					<div class="score flex-center">
						{{step?.finalScore}}
					</div>
				</div>
			</div>
		</ng-container>
		<div class="finalScore">
			<div class="title">
				Result
			</div>
			<div class="main-item-container flex-center">
				{{finalResult}}
			</div>
		</div>
	</div>
</div>